---
permalink: /test.html
eleventyExcludeFromCollections: true
---
  <article class="h-entry">
    <a rel="in-reply-to" class="u-in-reply-to" href="http://mycabinetofcuriosities.com">In reply to</a>
    <a rel="author" class="p-author h-card" href="…"><div class="p-name">ME</div>
        <img class="u-photo" alt="A picture of me in a hat, undershirt, black pants, leaning over the camera by the window" loading="lazy" decoding="async" src="./img/me.jpg" width="769" height="960">
    </a>
  <div class="e-content p-name">Hello world! This is my third indieweb post.</div>

  <a class="u-url" href="https://mycabinetofcuriosities.com/my-first-post">
    Published <time class="dt-published">2024-07-15 10:30:37+0000</time>
  </a>
  <a rel="syndication" class="u-syndication" href="http://facebook.com/orsomething">Fake syndication again</a>
  <div class="p-category">Test</div>
</article>
