---
layout: layouts/base.njk
---
<link rel="stylesheet" href="/css/article.css"/>

<div class="container h-entry">
    <div class="row">
        <div class="col-lg">
            <div>
                {% include 'hcard.njk' %}
            </div>
        </div>
        <div class="col grow-col">
            <div class="card border-primary my-3">
                <div class="p-name card-header bg-primary fw-bold text-white">
                    <div class="row">
                        <div class="col">
                            {{title}}
                        </div>
                        <div class="col text-end">
                            <span hidden class="dt-published">{{ page.date | htmlDateString}}</span>
                            {{page.date.toLocaleTimeString()}}
                            {{page.date.toLocaleDateString()}}
                        </div>
                    </div>
                </div>
                <div class="e-content card-body">
                    {{ content | safe}}
                </div>
                <div class="card-footer text-end">
                    <a hidden class="u-url" href="{{url}}">Permalink</a>
                    <a href="/">Back to main page</a>
                </div>
            </div>
        </div>
    </div>
</div>