---
layout: layouts/base.njk
---
{% import "shared/updateFeedItem.njk" as feedItemTemplate %}

<div class="container">
  <div class="row">
    <div class="col">
      <div hidden>
        {% include 'hcard.njk' %}
      </div>
      <ul class="list-group my-3">
        <div class="list-group-item list-group-item-action active">
          Update
        </div>
        {{ feedItemTemplate.updateFeedItem(page.date, content, page.url, true, photo, "in-reply-to" | getVarFromString, "like-of" | getVarFromString, syndication, collections.webmentionsByPost)}}
        <div class="list-group-item list-group-item-action text-end">
          <a href="/">Back to main page</a>
        </div>
      </ul>
    </div>
  </div>
</div>