---
layout: layouts/base.njk
---
{% import "shared/updateFeedItem.njk" as feedItemTemplate %}

<div class="container">
  <div class="row">
    <div class="col">
      <div hidden>
        {% include 'hcard.njk' %}
      </div>
      <ul class="list-group my-3">
        {{ feedItemTemplate.updateFeedItem(page.date, content, page.url, true)}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col text-end">
      <a href="/">Back to main page</a>
    </div>
  </div>
</div>