---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
eleventyExcludeFromCollections: true
---
{# <h2>This site implements: micropub, microsub, indieauth, microformats and webmentions</h2> #}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col">
          {% include '_includes/hcard.njk' %}
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="https://xn--sr8hvo.ws/previous">←</a>
          An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
          <a href="https://xn--sr8hvo.ws/next">→</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include '_includes/updateFeed.njk' %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div col="row">
        <div class="col">
          {% include '_includes/articles.njk' %}
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            {% include '_includes/leisure.njk' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="https://webmention.rocks/test/1">Test 1</a>
<a href="https://webmention.rocks/test/2">Test 2</a>
<a href="https://webmention.rocks/test/3">Test 3</a>
<a href="https://webmention.rocks/test/4">Test 4</a>
<a href="https://webmention.rocks/test/5">Test 5</a>
<a href="https://webmention.rocks/test/6">Test 6</a>
<a href="https://webmention.rocks/test/7">Test 7</a>
<a href="https://webmention.rocks/test/8">Test 8</a>
<a href="https://webmention.rocks/test/9">Test 9</a>
<a href="https://webmention.rocks/test/10">Test 10</a>
<a href="https://webmention.rocks/test/11">Test 11</a>
<a href="https://webmention.rocks/test/12">Test 12</a>
<a href="https://webmention.rocks/test/13">Test 13</a>
<a href="https://webmention.rocks/test/14">Test 14</a>
<a href="https://webmention.rocks/test/15">Test 15</a>
<a href="https://webmention.rocks/test/16">Test 16</a>
<a href="https://webmention.rocks/test/17">Test 17</a>
<a href="https://webmention.rocks/test/18">Test 18</a>
<a href="https://webmention.rocks/test/19">Test 19</a>
<a href="https://webmention.rocks/test/20">Test 20</a>
<a href="https://webmention.rocks/test/21">Test 21</a>
<a href="https://webmention.rocks/test/22">Test 22</a>
<a href="https://webmention.rocks/test/23/page">Test 23</a>

    {# <div>
  
</div>

</section>
<section>
  <ul class="webmentions links" id="http://mycabinetofcuriosities.com">
  {% for child in webmentions.children %}
    <ul>* {{ child.content.text }}</ul>
    {% if child["in-reply-to"]%} <div class="reply" data-link="{{child["in-reply-to"]}}">{{child.replyInfo.items[0].properties.author[0].properties.name}} replied </div>{% endif %}
    <p>
  {%- endfor %}
  <article class="h-entry">
    <a rel="author" class="p-author h-card" href="…"><div class="p-name">ME</div>
        <img class="u-photo" alt="A picture of me in a hat, undershirt, black pants, leaning over the camera by the window" loading="lazy" decoding="async" src="./img/me.jpg" width="769" height="960">
    </a>
  <div class="e-content p-name">Hello world! This is my first indieweb post.</div>

  <a class="u-url" href="https://mycabinetofcuriosities.com/my-first-post">
    Published <time class="dt-published">2024-07-14 10:25:37+0000</time>
  </a>
  <a rel="syndication" class="u-syndication" href="http://facebook.com/orsomething">Fake syndication</a>
  <div class="p-category">Test</div>
</article>
</ul> #}
    {# </section> #}