<ul class="list-group shadow-lg my-3">
    <li class="list-group-item list-group-item-action active fw-normal">Blog posts</li>
    {%for post in collections.blogPosts.reverse() | limit(5) %}
        <li class="list-group-item">
            <h6 class="fw-bold">
                {{post.data.title}}
            </h6>
            <div class="row">
                {% if post.content.length > 200 %}
                    {{post.content.slice(0, 200) | safe}}...
            {% else %}
                    {{post.content | safe }}
                {% endif %}
            </div>
            <div class="row">
                <div class="col">
                    <span class="text-info fw-bold">
                        {{post.date | toLocaleTimeString}}
                        {{post.date.toLocaleDateString()}}
                    </span>
                </div>
                <div class="col text-end">
                    <a href="{{post.url}}">Read more</a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>