<div id="carousel" class="dw-100 carousel slide carousel-dark">
    <div class="carousel-indicators">
        {% for game in steam.gameInfo%}
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{loop.index0}}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="{% if loop.index0 == 0 %}true{% endif %}" aria-label="Slide {{loop.index}}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for game in steam.gameInfo%}
            <div class="carousel-item text-center {% if loop.index0 == 0 %}active{% endif %}">
                <div class="d-block w-100">
                    <img alt="Cover of {{game.title}}" loading="lazy" decoding="async" class="img-fluid" src="{{game.imageUrl}}">
                </div>
                <div class="text carousel-caption caption-below">
                    <a href="{{game.storePageUrl}}">
                        <h5 class="my-2">{{game.title}}</h5>
                    </a>
                    <p>{{ game.summary}}</p>
                    <div class="alert alert-dismissible alert-secondary m-0 py-0">
                        <p>{{game.twoWeeksPlaytime}} in the last two weeks</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>