<div class="h-card card shadow-lg my-3 p-1 p-author u-author" rel="author">
    <h1 class="card-title p-name text-center">
        <span class="p-given-name">
        Adam
        </span>
        <span class="p-family-name">
        Wier
        </span>
    </h1>
    <div class="text-center">
        <img 
        class="avatar img-fluid card-img-top u-photo" 
        alt="A picture of me in a hat, undershirt, black pants, leaning over the camera by the window" 
        loading="lazy" 
        decoding="async" 
        src="/img/me.jpg"
        >
    </div>
    <div class="card-body">
        <div class="card-text">
        <div class="hidden-information">
            <div hidden>
            <span class="p-sex p-gender-identity">Male</span>
            </div>
            <div hidden>
            <a class="u-url u-uid"  rel="me" href="https://www.mycabinetofcuriosities.com">
                My website
            </a>
            </div>
            <div hidden>
            <a class="u-email" href="mailto:wier.adam@gmail.com" rel="me">
                wier.adam@gmail.com
            </a>
            </div>
            <div hidden class="h-geo u-geo p-geo">
            <span class="p-latitude">47.218111</span>
            <span class="p-longitude">-1.552800</span>
            </div>
        </div>
        <ul>
            <li class="no-bullet p-adr h-adr home-bullet">
            <span class="p-locality">Nantes</span>,
            <span class="p-country-name">France</span>
            </li>
            <li class="no-bullet birthday-bullet">
            June 25, 1986
            <time hidden class="dt-bday">1986-06-25</time>
            </li>
            <li class="no-bullet">
            <span class="p-job-title briefcase-bullet">Fullstack developer</span>
            </li>
        </ul>
        <p class="p-note">
            I am an alien. And I don't really understand what's going on. Sorry.
        </p>
        </div>
    </div>
</div>