<ul class="list-group shadow-lg my-3">
    <li class="list-group-item list-group-item-action active">My latest Mastodon posts</li>
    {%for post in mastodon%}
        <li class="list-group-item">{{post.content | safe}}
            <div class="row">
                <div class="col">
                    <span class="text-info fw-bold">{{post.createdAt}}</span>
                </div>
                <div class="col text-end">
                    <a href="{{post.url}}">Permalink</a>
                </div>

            </div>
        </li>
    {% endfor %}
</ul>