<div class="row d-sm-block d-md-none">
    <div class="col text-center">
      <div class="btn-group my-3" role="group" aria-label="Basic example">
        <a href="#updates">
          <button type="button" class="btn btn-secondary">Latest updates</button>
        </a>
        <a href="#blog">
          <button type="button" class="btn btn-secondary">Blog posts</button>
        </a>
        <a href="#leisure">
          <button type="button" class="btn btn-secondary">How I'm Spending My Time</button>
        </a>
      </div>
    </div>
</div>