{% import "shared/updateFeedItem.njk" as feedItemTemplate %}

<div class="accordion shadow-lg my-3 w-100 " id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="bg-primary text-light accordion-button fw-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            My latest updates
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body p-0 h-feed">
                <ul class="list-group">
                    {%for post in collections.allUpdates | limit(10) %}
                        {{ feedItemTemplate.updateFeedItem(post.date, post.content, post.url, false, post.data.photo, post.data["in-reply-to"])}}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>