{% macro updateFeedItem(date, content, url, includeAvatar, photos, replyTo, likeOf, syndication)%}
    <li class="list-group-item h-entry">
        <div hidden>{% include 'hcard.njk' %}</div>
        <div class="row">
            {% if includeAvatar %}
                <div class="col">
                    <img 
                        class="img-fluid avatar m-1 card-img-top u-photo" 
                        alt="A picture of me in a hat, undershirt, black pants, leaning over the camera by the window" 
                        loading="lazy" 
                        decoding="async" 
                        src="/img/me.jpg"
                    >
                </div>
            {% endif %}
            <div class="col grow-col e-content">
                <a href="https://brid.gy/publish/bluesky"></a>
                <div class="row text-break">
                    <div class="col fw-normal">
                        {% if likeOf %}
                            I liked <a href="{{likeOf}}" class="u-like-of" target="_blank">{{likeOf}}</a>
                        {% endif %}
                    </div>
                </div>
                {% if replyTo %}
                <div class="row text-break">
                    <div class="col">
                        In reply to: <a class="u-in-reply-to" href="{{replyTo}}" target="_blank">{{replyTo}}</a>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col fw-normal">
                        {{content | removeTags | safe}}
                    </div>
                </div>
                {% if photos.length %}
                <div class="row my-2">
                    {% for photoItem in photos | reverse %}
                    <div class="col">
                        <a href="/{{photoItem.filename}}" target="_blank">
                            <img src="/{{photoItem.filename}}" class="u-photo img-fluid">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="row">
                    {{ content | extractTags | safe }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span hidden class="dt-published">{{ date | dateToRfc3339}}</span>
                <span class="text-info fw-bold">
                    {{date | toLocaleTimeString }}
                    {{date.toLocaleDateString()}}
                </span>
            </div>
            <div class="col text-end">
                {% if syndication %}
                    <a hidden class="u-syndication" href="{{syndication | removeStatuses}}"></a>
                {%endif %}
                <a class="u-url" href="{{url}}">Permalink</a>
            </div>
        </div>
    </li>
{% endmacro %}