<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		{# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> #}

		<style>{% getBundle "css" %}</style>
		<link rel="stylesheet" href="/style.css?v={% version %}"/>

		<link rel="pingback" href="https://webmention.io/mycabinetofcuriosities.com/xmlrpc">
		<link rel="webmention" href="https://webmention.io/mycabinetofcuriosities.com/webmention" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="microsub" href="https://aperture.p3k.io/microsub/964">
		<link rel="micropub" href="https://jovial-cocada-8ea186.netlify.app/.netlify/functions/micropub">
		<link rel="me" href="https://github.com/AdamWier" />
	</head>
	<body>
		<header>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
	</body>
</html>
