<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		{# <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}"> #}
		<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/yeti/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/7a723b83a6.js" crossorigin="anonymous"></script>

		<link href="//cdn.jsdelivr.net/octobadge.github/0.0.1/badge.min.css" rel="stylesheet" type="text/css" />
		
		{%- css %}{{ googleFontCss | safe }}{% endcss %}
		{%- css %}{% include "public/css/base.css" %}{% endcss %}
		{%- css %}{% include "public/css/hcard.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>

		<link rel="pingback" href="https://webmention.io/mycabinetofcuriosities.com/xmlrpc">
		<link rel="webmention" href="https://webmention.io/mycabinetofcuriosities.com/webmention" />
		<link rel="authorization_endpoint" href="https://indieauth.com/auth">
		<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
		<link rel="microsub" href="https://aperture.p3k.io/microsub/964">
		<link rel="micropub" href="https://jovial-cocada-8ea186.netlify.app/.netlify/functions/micropub">
		<link rel="me" href="https://github.com/AdamWier" />
		<link rel="me" href="https://mastodon.social/@donthatedontkill" />
		<link rel="alternate feed" type="application/rss+xml" title="Latest updates" href="https://mycabinetofcuriosities.com/feed/feed.xml">
		<!-- MailerLite Universal -->
		<script>
			(function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
			.push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
			n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
			(window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
			ml('account', '1142792');
		</script>
<!-- End MailerLite Universal -->
	</head>
	<body>
		<header>
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->

	</body>
</html>
